---
layout: layouts/base.njk
title: page not found
permalink: /404.html
---

<div class="error-page">
  <h1>404</h1>
  <p>the page you're looking for doesn't exist.</p>
  <p><a href="/">go back home</a></p>
</div>
