<div class="post-meta">
  <time datetime="{{ date | isoDate }}">{{ date | readableDate }}</time>
  {% if tags %}
  <span class="post-tags">
    {% for tag in tags %}
      {% if tag != "posts" %}
      <a href="/tags/{{ tag }}/" class="tag">{{ tag }}</a>
      {% endif %}
    {% endfor %}
  </span>
  {% endif %}
</div>
